@model Fiap.Exemplo3.Web.MVC.Models.Apostador


@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@HelpUtil.Message(TempData["msg"] as string)

@using (Html.BeginForm()) { 
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Email)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Saldo)
        @Html.TextBoxFor(a => a.Saldo, new { @class = "form-control" })
    </div>
  @HelpUtil.Button("Cadastar")
}