@model Fiap.Exemplo02.Web.MVC.Models.Pet

<tr>
    <td>@Model.Codigo</td>
    <td>@Model.Nome</td>
    <td>@Model.Descricao</td>
    <td>@Model.DataNascimento.ToShortDateString() </ td >
    <td>@Model.Castrado </ td >
</tr>