@model Fiap.Exemplo04.Web.MVC.Models.Time

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Time</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-info">
        @TempData["msg"];
    </div>
}

@using (Html.BeginForm())
{
    <h1>Time</h1>
    <div class="form-group">
        @Html.LabelFor(t => t.Nome)
        @Html.TextBoxFor(t => t.Nome, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.DataFundacao)
        @Html.TextBoxFor(t => t.DataFundacao, new {@class = "form-control" })
    </div>

    <h1>Tecnico</h1>
    <div class="form-group">
        @Html.LabelFor(t => t.Tecnico.Nome)
        @Html.TextBoxFor(t => t.Tecnico.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Tecnico.Salario)
        @Html.TextBoxFor(t => t.Tecnico.Salario, new { @class = "form-control" })
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}

