@model List<Fiap.Exemplo04.Web.MVC.Models.Time>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Data Fundacao</th>
        <th>Tecnico</th>
        <th>Ações</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.DataFundacao.ToShortDateString()</td>
            <td>@item.Tecnico.Nome</td>
            <td>@item.Tecnico.Salario</td>
            <td>@Html.ActionLink(" ", "Alterar"
                            , new { id = item.TimeId }
                            , new { @class = "glyphicon glyphicon-pencil btn btn-xs btn-primary" })
                @Html.ActionLink(" ", "Remover",
                            new { id = item.TimeId }
                            , new { @class = "glyphicon glyphicon-trash btn btn-xs btn-danger" })

        </td>
        </tr>
    }
</table>
